$primary: #ffe6fc;
$secondary: #9c56c4;

.ReactModal__Overlay {
    padding: 50px 30px !important;
}

.ReactModal__Content {
    width: 100% !important;
    max-width: 1060px !important;
    height: 100% !important;
    max-height: 600px !important;
    background-color: $primary !important;
    border-radius: 6px !important;
    position: relative !important;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.05)) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    padding: 0px !important;
    border: 2px solid $secondary !important;
}

.ReactModal__Content .inner {
    height: 100% !important;
    padding: 0 10% 0 10% !important;
    overflow-y: auto !important;
}

.ReactModal__Content .inner--iframe {
    background-color: #22243c !important;
}

.ReactModal__Content .inner--iframe iframe {
    border: none !important;
}

.ReactModal__Content .inner .modal-close {
    position: absolute !important;
    top: 15px !important;
    right: 18px !important;
    font-size: 15px !important;
    color: #d8d8d8 !important;
    cursor: pointer !important;
}
