$primary: #ffe6fc;
$secondary: #9c56c4;

.page_loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.6); */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait;
}

.header {
    height: 90px;
    width: 100%;
    background-image: url("./sweets.jpg");
    background-position: 20% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_text {
        color: white;
        font-size: 28px;
    }
}

.header_options {
    min-height: 30px;
    margin-top: 30px;
    width: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 80%;

    &_option {
        color: white;
        cursor: pointer;
    }
}

p {
    margin: 0px;
}

.title {
    margin: 30px 0 30px 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 8%;
}

.page {
    margin-top: 50px;
}

.button {
    cursor: pointer;
    min-width: 200px;
    max-width: 300px;
    max-height: 30px;
    background-color: $secondary;
    color: white;
    border-radius: 5px;
    font-size: 50%;
    padding: 5px 0 5px 0;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

input {
    width: 100%;
    margin-bottom: 20px;
    background-color: $primary;
    border: none;
    border-bottom: 2px solid $secondary;
    padding-bottom: 10px;
    font-size: 60%;
    color: $secondary;

    &::placeholder {
        color: $secondary;
    }
}

@media (min-width: 900px) {
    .header {
        height: 140px;
        background-position: 20% 20%;

        &_text {
            font-size: 60px;
            margin-top: 0px;
        }
    }

    .header_options {
        left: 50px;
        font-size: 100%;
    }

    .centered {
        width: 50%;
    }

    .form {
        width: 30%;
    }
}
